<div class="modal fade" id="clear-dues" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="header-data">
                    <h3 class="modal-title">Clear Dues</h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="block col-xs-6">
                    <h3>
                        Address Details
                    </h3>

                    <div class="form-group">
                        <label>Name</label>
                        <div>
                            {{name}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Address</label>
                        <div>
                            {{address}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Phone #</label>
                        <div>
                            {{number}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Amount Due</label>
                        <div>
                            Rs. {{due}}
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <h3>
                        Enter Amount
                    </h3>

                    <input class="form-control" type="text" id="due-amount" value="{{due}}" placeholder="Enter Amount">

                    <button class="btn btn-warning" id="clear-partial" data-receipt-id="{{id}}" data-due="{{due}}">
                        Clear Amount
                    </button>

                    <h3>
                        Clear Payment
                    </h3>

                    <button class="btn btn-success" id="clear-all-dues" data-receipt-id="{{id}}">
                        Clear All
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>