.dashboard{
    .page-header{
        h4{
            color:grey;
        }
    }
    .panel{
        margin-right: 5px;
        height: 300px;
    }

    .row{
        margin: 0px auto;

        .panel{

        }

        .panel-body{
            height: 100%;
            .btn{
                width: 49%;

            }
        }
    }

    a{
        text-decoration:none;
        color:grey;
    }

    .glyphicon-cog{
        cursor:pointer;
        display:none;
        font-size: 20px;
    }

    .row:hover .glyphicon-cog{
        display:block;
    }
}