.dashboard{
    .page-header{
        h4{
            color:grey;
        }
    }
    .panel{
        margin-right: 5px;
        height: 300px;
    }

    .row{
        margin: 0px auto;

        .panel{

        }

        .panel-body{
            height: 100%;
            .btn:nth-child(0),
            .btn:nth-child(1){
                width: 49%;
            }
        }
    }

    a{
        text-decoration:none;
        color:grey;
    }

    .glyphicon-cog{
        cursor:pointer;
        display: none;
        font-size: 20px;
        padding: 5px;
    }

    .glyphicon-cog:hover,
    .glyphicon-shopping-cart:hover{
        color:black;
    }

    .glyphicon-shopping-cart{
        cursor:pointer;
        font-size: 20px;
        padding: 5px;
    }

    .row:hover .glyphicon-cog,
    .row:hover .glyphicon-shopping-cart{
        display:block;
    }
}