.edit-warehouse {
    .wrapper {
        width: 500px;
        margin: 50px auto;

        .btn {
            margin-left: 10px;
        }

        #p_error {
            display: none;
        }
    }
}