.products {
    .page-header {
        button{
            margin-right: 5px;
        }
    }

    .table {
        font-size: 16px;
        font-weight: 400;

        th {
            font-weight: bold;
        }

        .btn-group {

            a {
                text-decoration: none;
            }
        }
    }

}